
.bigContainer{
    width: 65%;
    
    /* border: 1px solid red; */
    /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr 1.4fr 0.7fr;
    margin: auto;
    gap: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 50px;
}
.small-Container-1{
    margin-left: 20px;
    border-right: 1px solid  rgba(0, 0, 0, 0.24);
}

.clock{
    color: grey;
    
}
.small-Container-1 :nth-child(6){
    color: rgb(54, 54, 127);
    cursor: pointer;
    position: relative;
    bottom: -320px;
    
}
.small-Container-1 :nth-child(6):hover{
    text-decoration: underline;

}
.time-duration{
    color: rgb(97, 89, 89);
    
    
    margin-left: 20px;
    /* margin-bottom: 25px; */
    /* border: 1px solid red; */
}
.time-duration-2{
    color: rgb(97, 89, 89);
    margin-left: 20px;
    
    /* border: 1px solid red; */
}
.small-Container-2-part-1{
    /*  */
    /* border: 1px solid red; */
    display: grid;
    /* gap:10px */
    grid-template-columns: repeat(3,1fr);
    /* text-align: center; */
    
}
.arrow1{
    margin: 18px;
    margin-left: 150px;
}
.arrow2{
    margin: 18px;
    margin-left: 100px;
    color: blue;
}
.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 15px;
}
/* .right-arrow{
    margin: 25px;
} */
.days button{
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: rgb(211 218 250 / 65%);
    color: #0060e6;
}
.days .weekend{
    background-color: #fff;
    border: none;
    align-items: center;
    cursor: default;
    color: black;
    font-size: 400;
}
.days button:not(.weekend) {
    font-weight: 700;
}
.days button:hover:not(.weekend){
    background-color: #87b5f6;
}
#ISt{
    margin-top: 45px;
    width: 55%;
    /* background-color:red; */
    height: 35px;
    border-radius: 25px;
    border: none;
    
}
#ISt:focus{
    color: rgb(7, 6, 6);
}
.troubleshoot{
    /* border: 1px solid #ff0000; */
    /* width: 60px; */
    height: 1.3rem;
    margin-top: 5%;
    padding-bottom: 30px;
    cursor: pointer;
    
}
.troubleshoot button{
    border: 0.5px solid ;
    height: 2.3rem;
    border-radius: 5px;
    cursor:pointer;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: #fff;
}
#bigContainer{
    display: flex;
    flex-direction: column;
    
}
#bigContainer button{
    width :200px;
    padding: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    color: rgba(55, 55, 188, 0.892);
    border: 2px solid rgba(55, 55, 188, 0.892);
    background-color: white;
}
#bigContainer button:hover{
    border: 2px solid blue;

}
#bigContainer button {
    border: 1px solid rgba(55, 55, 188, 0.892);
}
#bigContainer button:hover {
    border: 2px solid rgba(55, 55, 188, 0.892);
}