* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin-bottom: 60px;
  /* min-height: 100vh; */
  /* background-color: aqua; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
#main {
  margin: 60px 15% 40px 15%;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  width: 70%;
  text-align: center;
  align-items: center;
}

#main > h2 + p {
  margin: 20px 20px;
}
#main > p + h2 {
  margin: 20px 20px;
}
.wrapper {
  align-items: center;
  /* text-align: center; */
  width: 70%;
  background-color: white;
  padding: 30px;
  /* margin: 60px 30px 60px 30%; */
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 16px;
  /* box-shadow: 10px 10px 15px rgba(0,0,0,0.05); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wrapper h2 {
  /* align-items: center; */
  text-align: center;
}
.wrapper header {
  display: flex;
  position: relative;
  align-items: center;
  height: 55px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin: 15px 10px 15px 35%;
  /* margin-right: 50px; */
}
.row {
  width: 85%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 20px;
}
.row:nth-child(1) {
  border-right: gray 1px solid;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 20px;
}
.row:nth-child(2) {
  border-right: gray 1px solid;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 20px;
}
header label {
  height: 100%;
  width: 50%;
  z-index: 2;
  display: flex;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2 {
  color: white;
  transition: all 0.3s ease;
}
header label:nth-child(2) {
  width: 50%;
}
header .slider {
  position: absolute;
  /* left: 50%; */
  height: 85%;
  /* width: 150px; */
  border-radius: inherit;
  background: gray;
  /* color: gray; */
  transform: translateX(-5%);
  transition: all 0.3s ease;
}
#tab-1:checked ~ header .slider {
  left: 0%;
  width: 150px;
  transform: translateX(5%);
}
#tab-2:checked ~ header .slider {
  left: 50%;
  width: 150px;
  transform: translateX(5%);
}
.wrapper input[type="radio"] {
  display: none;
}

.cards {
  display: flex;
  width: 100%;
  /* align-items: center; */
  margin: 2% 2%;
}

.row .pricing-details {
  margin: 20px 0;
}
.pricing-details > span {
  /* font-weight: bold; */
  font-size: 20px;
  margin-bottom: 60px;
}
.pricing-details p > span {
  font-size: 25px;
  font-weight: bold;
}
.row .features li {
  display: flex;
  align-items: center;
  font-size: 15px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.features li span {
  margin-left: 10px;
}
.pricing-details button {
  height: 55px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  border-radius: 30px;
  background: blue;
  transition: all 0.3s ease;
  align-items: center;
}
.pricing-details button:hover {
  transform: scale(0.85);
}
.pricing-details a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
