body {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
#navContainer {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-around;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}
#navleft {
  /* border: 2px solid green; */
  width: 12%;
  display: flex;
  align-items: center;
}
#navmiddle {
  /* border: 1px solid blue; */
  display: flex;
  gap: 50px;
  align-items: center;
}
#navmiddle a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  color: rgb(0, 0, 0);
  font-weight: 650;
}
#navmiddle a:hover {
  color: rgb(0, 107, 255);
  cursor: pointer;
  font-weight: 700;
}
#navright {
  display: flex;
  /* border: 1px solid yellow; */
  align-items: center;
  gap: 20px;
}
#navright button:first-child {
  border: 1px solid white;
  background-color: white;
  font-size: 1rem;
  line-height: 1;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
#navright button:first-child a {
  text-decoration: none;
}
#navright button a:hover {
  color: rgb(0, 107, 255);
  cursor: pointer;
  font-weight: 700;
}
#navright button:last-child {
  border: 1px solid white;
  background-color: rgb(0, 107, 255);
  padding: 17px 15px;
  color: white;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  border-radius: 30px;
}
#formbox-input:focus {
  outline: none;
}
#easyscheduling {
  /* border: 1px solid red; */
  width: 40%;
  margin-top: 120px;
  margin-left: 160px;
}
#easy-line {
  width: 30%;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 800;
  white-space: pre-line;
  text-align: left;
  color: rgb(11, 53, 88);
  margin-bottom: 32px;
}
#easy-span {
  color: rgb(0, 107, 255);
  font-size: 4rem;
}
#easyscheduling-ptag {
  text-align: left;
  color: rgb(71, 103, 136);
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
  width: 75%;
}
#formbox-input {
  width: 70%;
  height: 70px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  padding: 0px 64px 0px 32px;
  font-weight: 500;
  font-size: 1.125rem;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}
#formbox button {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 107, 255);
  opacity: 1;
  height: 70px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
}
#formbox p {
  color: rgb(149, 147, 147);
  margin-top: 0;
  margin-left: 20px;
}
#easy-animation {
  /* border: 1px solid blue; */
  width: 60%;
  margin-top: 120px;
}
#easy-animation img {
  width: 85%;
  margin-top: 50px;
}
#easy-main-box {
  /* border: 1px solid yellow; */
  display: flex;
  gap: 10px;
}
#comp-animation {
  /* border: 4px solid red; */
  padding: 100px;
  background-color: rgb(248, 248, 248);
  margin-top: 70px;
}
#comp-animation-head {
  text-align: center;
  color: rgb(11, 53, 88);
  font-weight: 900;
  /* border: 1px solid blue; */
  width: 30%;
  margin: auto;
}
#comp-animation-head span {
  color: rgb(0, 107, 255);
}
#comp-animation-img {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
#comp-animation-img img {
  width: 12%;
}
* {
  margin: 0px;
  padding: 0px;
  /* font-family: sans-serif; */
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 2;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.section-3 {
  padding: 72px 0px;
  width: 77%;
  margin: auto;
  /* border: 2px solid; */
}
.section-3 h3 {
  text-align: center;
  font-size: 37.9px;
  line-height: 1.4;
  color: rgb(11, 53, 88);
  line-height: 1.4;
}
.section-3 p {
  color: rgb(71, 103, 136);
  margin-top: 15px;
  line-height: 1.71429;
  padding-bottom: 32px;
  font-weight: 400;
}
.section-3-grid-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 17px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 25px;
  font-size: 20px;
}
.section-3-grid-style div {
  /* border: 2px dashed; */
  padding: 24px 30px 32px 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 8%) 2px 4px 8px;
  border: 1px solid rgb(231, 237, 246);
  border-radius: 12px;
}
.section-3-grid-style img {
  margin-bottom: 12px;
  height: 30px;
  width: auto;
}
.section-3-grid-style h4 {
  margin-bottom: 10px;
}
.section-3-grid-style p {
  color: gray;
  line-height: 28px;
  margin-top: 15px;
}

.section-4 {
  padding: 72px 0px;
  margin: auto;
  /* border: 2px solid; */
  background-color: rgb(248, 248, 248);
}
.section-4 h3 {
  text-align: center;
  color: rgb(11, 53, 88);
  font-size: 44px;
  font-weight: 900;
}
.section-4-grid-style {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 30px;
  width: 75%;
  margin-bottom: 50px;
  padding: 25px;
  font-size: 20px;
}
.section-4-grid-style div {
  padding: 24px 24px 32px 24px;
}
.section-4-grid-style > :hover {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 8%) 2px 4px 8px;
  border: 1px solid rgb(231, 237, 246);
  border-radius: 10px;
}
.section-4-grid-style img {
  margin-bottom: 12px;
  height: 30px;
  width: auto;
}
.section-4-grid-style p {
  color: gray;
  line-height: 28px;
  margin-top: 15px;
}

.section-5 {
  padding: 72px 0px;
  margin: auto;
  /* border: 2px solid; */
  background-color: rgb(247, 250, 255);
}
.section-5 h3 {
  text-align: center;
  font-size: 37.9px;
  line-height: 1.4;
  color: rgb(11, 53, 88);
  font-weight: 700;
  margin-bottom: 48px;
}
.section-5 h5 {
  text-align: center;
  color: rgb(0, 107, 255);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.25px;
  margin-bottom: 24px;
  z-index: 10;
}
.section-5-grid-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 15px;
  width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  font-size: 20px;
}
.section-3 h4,
.section-4 h4,
.section-5 h4 {
  color: rgb(11, 53, 88);
}
.section-5-grid-style div {
  padding: 24px 24px 32px 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 8%) 2px 4px 8px;
  border: 1px solid rgb(231, 237, 246);
  border-radius: 10px;
  cursor: pointer;
}
.section-5-grid-style img {
  margin-bottom: 12px;
  height: 30px;
  width: auto;
}
.section-5-grid-style p {
  color: gray;
  margin-top: 15px;
  line-height: 1.71429;
  padding-bottom: 32px;
}
.section-5-grid-style button {
  background-color: white;
  border: none;
  font-weight: 700;
  font-size: 18px;
}
.section-5-grid-style button :hover {
  color: black;
}
.section-5-grid-style a {
  text-decoration: none;
  color: rgb(0, 107, 255);
}
.unique-btn {
  margin-top: 38px;
}
.section-6 {
  padding-bottom: 48px;
  padding-top: 72px;
}
.section-6 h2 {
  text-align: center;
  color: rgb(29, 52, 75);
  margin-bottom: 32px;
  line-height: 1.2;
  font-size: 50px;
  font-weight: 900;
}
.section-6 p {
  text-align: center;
  line-height: 1.71429;
  padding-bottom: 32px;
  color: rgb(66, 84, 102);
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
  width: 50%;
  margin: auto;
  margin-bottom: 24px;
}
.section-7 {
  padding: 90px 51px 90px 155px;
  display: flex;
}
.section-7 h6 {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1.25px;
  margin-bottom: 24px;
  font-weight: 600;
  color: rgb(0, 107, 255);
}
.section-7 h2 {
  font-size: 1.75rem;
  line-height: 1.4;
  text-align: left;
  color: rgb(29, 52, 75);
  font-weight: 700;
  margin-bottom: 24px;
}
.section-7-animation {
  width: 2505px;
  /* border: 2px dashed; */
  height: 400px;
  background-image: url("./images/Capture_section.JPG");
}
.section-7 p {
  color: rgb(66, 84, 102);
  font-size: 1.125rem;
  line-height: 1.71429;
  font-weight: 400;
  width: 85%;
}

.section-8 {
  /* border: 1px dashed rgba(52, 171, 19, 0.688); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  position: relative;
}
.section-8 div {
  /* border: 2px dashed crimson; */
  margin: 0 15%;
  /* position: absolute; */
  display: grid;
  margin-bottom: 55px;
}
.section-8 :first-child {
  color: rgb(0, 107, 255);
  font-weight: 500;
  margin-bottom: -5px;
}
.section-8 .heading {
  /* color: rgb(0,107,255); */
  font-weight: 500;
  font-size: 30px;
  /* margin-top: 45px; */
}
.section-8 :nth-child(3) {
  font-size: 20px;
  margin-top: -5px;
  color: rgb(120, 115, 115);
}
.section-8 > .image {
  margin-right: 10%;
}
/* image  */

.section-8 img {
  width: 100%;
}
#mobile {
  width: 50%;
}
/* 2nd part */

.section-9 {
  margin-top: 10%;
  /* border: 1px dashed rgba(52, 171, 19, 0.688); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  position: relative;
}
.section-9 div {
  /* border: 2px dashed crimson; */
  margin: 0 15%;
  /* position: absolute; */
  display: grid;
  margin-bottom: 55px;
}
.section-9 p {
  color: rgb(0, 107, 255);
  font-weight: 500;
}
.section-9 :last-child {
  color: rgb(120, 115, 115);
}
.section-9 :nth-child(3) {
  font-size: 20px;
}
/* 3rd part */
.section-10 {
  margin-top: 5%;
  /* border: 1px solid black; */
  text-align: center;
  background-color: rgb(247, 250, 255);
  margin-bottom: 100px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.section-10 h1 {
  font-size: 50px;
}
.section-10 p {
  font-size: 20px;
  color: rgb(120, 115, 115);
}
.section-10 button {
  background-color: rgb(0, 107, 255);
  color: aliceblue;
  font-weight: bold;
  width: 170px;
  height: 60px;
  border-radius: 50px;
  border: 0ch;
  cursor: pointer;
}

.section-10 a {
  text-decoration: none;
  color: rgb(0, 107, 255);
}
.section-11 {
  /* border: 1px dashed rgba(52, 171, 19, 0.688); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  position: relative;
}
.footer {
  /* border: 1px dashed rgb(32, 8, 216); */
  margin: 0 20%;
  justify-content: space-between;
}
#language {
  cursor: pointer;
  width: 80%;
  height: 40px;
  font-weight: bolder;
  border: 3px solid #ffff;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.section-11 p:first-child {
  font-weight: 800;
  font-size: 35px;
}
.section-11 p:nth-child(2) {
  font-weight: 800;
  font-size: 35px;
  margin-top: -35px;
  color: rgb(0, 107, 255);
}
.section-11 .image :first-child {
  width: 130px;
  /* height: 50px; */
}
.footer-icon {
  font-size: 20px;
  margin-top: 45px;
  width: 50px;
}
.footer :last-child {
  margin-top: 45px;
  font-size: small;
}
/* About */
.footer_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid brown; */
  margin-right: 12%;
}
.footer_container > ul :first-child {
  font-size: larger;
}
.footer_container ul > li {
  margin-top: 8%;
  cursor: pointer;
}
.section-11 li:hover {
  text-decoration: underline;
  /* color: red; */
}
.footer_container .privacy {
  font-size: 12px;
  text-align-last: right;
  /* border: 1px solid green; */
  grid-column-end: span 3;
}
.privacy:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 481px) and (max-width: 721px) {
  .section-3-grid-style {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-3-grid-style div {
    padding: 15px;
  }
  .section-3 {
    width: 94%;
    padding: 72px 22px;
  }
  .section-5-grid-style {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-4-grid-style {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-6 h2 {
    font-size: 38px;
  }
  .section-6 p {
    width: 65%;
  }
  .section-7 {
    display: block;
    margin: auto;
    padding-left: 96px;
  }
  .section-7-animation {
    width: 0%;
  }
  .section-7-animation img {
    /* width: 18%;
      margin-left: -28px; */
    display: none;
  }
  #navmiddle {
    display: none;
  }
  #easy-main-box {
    display: block;
  }
  #easy-animation {
    display: none;
  }

  #easyscheduling {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }
  #easy-line {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
  }
  #easyscheduling-ptag {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #formbox {
    margin-top: 40px;
  }
  #comp-animation-img {
    display: block;
  }
  #formbox {
    width: 80%;
  }
  .section-8 {
    display: flex;
    flex-wrap: wrap;
  }
  .section-9 {
    display: flex;
    flex-wrap: wrap;
  }
  .section-10 {
    display: flex;
    flex-wrap: wrap;
  }
  .section-10 > h1 {
    margin-left: 40px;
    /* border: 1px solid red; */
  }
  .section-10 > button {
    margin-top: 25px;
    margin-left: 130px;
  }
  .section-10 > :last-child {
    margin-left: 30px;
  }
  .section-11 {
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    /* display: flex;
        justify-content: row; */
    margin-left: 8px;
  }
  .footer_container ul {
    display: grid;
    grid-template-columns: repeat(0.5, 1fr);
  }
  .footer_container:nth-child(3) {
    justify-items: end;
    justify-content: end;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .section-3 {
    width: 94%;
    padding: 72px 0px;
  }
  .section-3-grid-style {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-4 h3,
  .section-5 h3 {
    line-height: 1.1;
    margin-top: -15px;
    margin-bottom: 11px;
    font-size: 37px;
  }
  .section-5 h3 {
    font-size: 35px;
  }
  .section-5-grid-style {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-5-grid-style div {
    padding: 10px 25px;
    font-size: 75%;
  }
  .section-5-grid-style img {
    margin-bottom: 0px;
  }
  .section-4-grid-style {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-6 h2 {
    font-size: 37px;
    width: 90%;
    margin: auto;
    margin-bottom: 24px;
  }
  .section-6 p {
    font-size: 18px;
    width: 92%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .section-7 {
    display: block;
    margin: auto;
    padding-left: 35px;
    height: 0.5%;
    padding-bottom: 27px;
  }

  .section-7-animation {
    width: 0%;
  }
  .section-7-animation img {
    /* width: 18%;
      margin-left: -28px; */
    display: none;
  }
  #formbox {
    width: 80%;
  }
  #navmiddle {
    display: none;
  }
  #easy-animation {
    display: none;
  }
  #navleft img {
    width: 80%;
  }
  #easyscheduling {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }
  #easy-line {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
  }
  #easyscheduling-ptag {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #comp-animation-img {
    display: block;
  }
  #easy-main-box {
    display: block;
  }
  #comp-animation-head {
    width: 80%;
    font-size: 10px;
  }
  #comp-animation {
    padding: 0px;
  }
  #comp-animation-img {
    padding-left: 95px;
    margin-top: 10px;
  }
  #easyscheduling-ptag {
    width: 90%;
    font-size: 16px;
  }
  #easy-main-box form {
    font-size: 10px;
  }
  #formbox button {
    height: 50px;
    margin-top: 25px;
    margin-right: 10px;
  }
  #easy-line {
    font-size: 22px;
    margin-top: 100px;
  }
  #easy-span {
    font-size: 22px;
  }
  #formbox-input {
    font-size: 12px;
    margin-top: 24px;
    height: 48px;
  }
  .section-8 {
    display: flex;
    /* flex-wrap: wrap; */
  }
  .image {
    display: none;
  }
  .section-9 {
    display: flex;
    flex-wrap: wrap;
  }
  #mobile {
    display: none;
  }
  .section-10 {
    display: flex;
    flex-wrap: wrap;
  }
  .section-10 > h1 {
    margin-left: 40px;
    /* border: 1px solid red; */
    margin: auto;
  }
  .section-10 > button {
    margin-top: 25px;
    margin: auto;
  }
  .section-10 > :last-child {
    margin-left: 30px;
    margin: auto;
  }
  .section-11 {
    display: flex;

    flex-wrap: wrap;
  }

  .footer {
    /* display: flex;
        justify-content: row; */
    width: 50%;
    margin: auto;
  }
  .footer_container ul {
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(0.5, 1fr);

    text-align: center;
  }
  .footer_container :nth-child(3) {
    justify-items: end;
  }
}
@media only screen and (min-width: 722px) and (max-width: 1200px) {
  #navmiddle {
    display: none;
  }
}
