@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    margin: 0px;
    padding: 0px;
    /* font-family: sans-serif; */
    font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 2;
}
.section-1 {
    padding: 0px 280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid lightsteelblue;
}
.active {
    font-weight: 700;
}
.section-1 img{
    width: 50%;
    margin-top: 12px;
}
.section-1 ul{
    display: flex;
    gap: 15px;
}
.section-1 p{
    margin: 15px;
}
.section-1 p:hover{
    font-weight: bold;
}
.section-1 button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #c1baba;
}
.section-1 button:hover {
    border: 2px solid rgb(29, 3, 3);
}
.section-1 a{
    text-decoration: none;
}
.section-2 {
    width: 64%;
    margin: auto;
    display: flex;
    padding: 30px 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 20px -20px;
    margin-bottom: 30px;
    
}
.section-2 button {
    background-color: #ffffff;
    font-weight: 400;
    color: rgb(0,105,255);
    padding: 0px 24px;
    height: 40px;
    margin-top: 5px;
    border-radius: 42px;
    border: 1px solid rgb(0,105,255);
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;
}
.section-2 button:hover{
    background-color: #e0e8f6;
}
.section-2 h1{
    font-size: 26px;
    margin-left: 25%;
    font-weight: 400;
}
.dot {
    height: 30px;
    width: 30px;
    background-color: rgb(130, 71, 245);
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
}
.section-3 {
    width: 64%;
    margin: auto;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.section-3 > :first-child {
    display: flex;
    padding-bottom: 12px;
}

.section-3 > :first-child > :nth-child(2){
    margin-left: 10px;
    font-size: 12px;
}
.section-3 > :first-child > :nth-child(3){
  margin-left: 70%;
}
.section-3 h4 {
    font-size: 14px;
    font-weight: 400;
}

.cancleBtn{
    background-color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.nxtBtn {
    color: #ffffff;
    font-weight: 700;
    background-color: rgb(0,105,255);
    padding: 0px 24px;
    height: 35px;
    margin-top: 5px;
    border-radius: 42px;
    border: none;
    cursor: pointer;
}
.section-3 > :nth-child(3) {
    padding-left: 40px;
    padding-top: 22px;
}
label {
    font-weight: 600;
    font-size: 14px;
}
input , textarea,select{
    width: 45%;
    border-radius: 10px;
    border: 0.5px solid #b8b5b5;
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
textarea {
    font-size: 16px;
    padding-top: 30px;
    padding: 30px;
    height: 140px;
    width: 41%;
}
select {
    height: 40px;    
    width: 47%;
}
input:focus {
    outline: none;
    border: 2px solid blue;
}
textarea:focus {
    outline: none;
    border: 2px solid blue;
}
select:focus {
    outline: none;
    border: 2px solid blue;
}
.section-3 > :last-child {
    margin-top: 30px;
    border-top: 0.5px solid #e2d9d9;
    padding: 5px;
}
section {
    margin-left: 85%;
}